{% extends "base.html" %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <h2 class="post-title">Профиль пользователя {{object.username}}</h2>
        <p id="token">Токен: {% if object.auth_token %}{{object.auth_token}}{% else %}не создан{% endif %}</p>
        <form action="{% url 'usersapp:update_token' %}">
            <button type="submit" class="btn btn-primary">Пересоздать токен</button>
        </form>
        <hr>
        <button type="submit" id="ajax-btn" class="btn btn-primary">Пересоздать токен с помощью AJAX</button>
    </div>
</div>
{% endblock %}