[run]
include = */test.py, */test_views.py

[report]
exclude_lines =
  pragma: no cover

    # Не обращать внимания на отсутствующий код, предназначенный только для отладки:
    def __unicode__
    def __repr__
    if self\.debug

    # Не обращать внимания, если тесты не достигают кода защитных утверждений (вроде неправильный перевод):
    raise AssertionError
    raise NotImplementedError

    # Не обращать внимания, если неисполняемый код не выполняется:
    if 0:
    if __name__ == .__main__.:

omit =
    project/settings/*
    project/*/migrations/*

show_missing = True
