{% extends "base.html" %}

{% block title %}
Создание поста
{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Создаём пост через форму</p>
        <div class="my-5">
            <!-- Специально для изображений нужно вставлять enctype="multipart/form-data" -->
            <form id="contactForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {#form.as_p#}
                {% for field in form %}
                    <p>{{field.label_tag}}</p>
                <hr>
                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
                <p>{{field}}</p>
                {% endfor %}
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}