<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>{% extends "base.html" %}

{% block title %}
Список тэгов
{% endblock %}

{% block content %}
<div class="row">
    <h1>{{name}}</h1>
    <ul>
        {% for item in tags %}
            <li>
                <a href="{% url 'blogapp:tag_detail' pk=item.pk %}">
                    {{item.name}}
                </a>
                <a href="{% url 'blogapp:tag_update' pk=item.pk %}">
                    / Изменить
                </a>
                <a href="{% url 'blogapp:tag_delate' pk=item.pk %}">
                    / Удалить
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'blogapp:tag_create' %}">Создать новый тэг</a>
</div>
{% endblock %}

<body>

</body>
</html>